* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0px;
  padding: 10px;
}

.background-img {
  background-image: url('bgimg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #684c4c;
  background-image: linear-gradient(to right, rgba(238, 143, 130, 0.788), rgb(117, 71, 59));
  color: #fff;

}

h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding: 5px 5px;

}

nav a{
  color: #f0f2f4;
  font-family:'Times New Roman', Times, serif;
  /* padding: 14px 20px; */
}

ul,
li {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 5px;
  margin: 20px;
}


.picture{
  display: flex;
  justify-content: center;
}

img{
  
  height:200px;
  width:200px;
  object-fit: cover;
  border-radius: 100px;
}

h2, h3 {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  align-content: center;
  background-color: rgb(232, 242, 250);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: black;
  margin: 0px;
  border-radius: 10px;

}

.links {
  display: flex;
  justify-content: center;
  color: maroon;
}

p.work {
  display: flex;
  justify-content: center;
}



footer {
  display: flex;
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  background: #684c4c;
  background-image: linear-gradient(to right, rgba(238, 143, 130, 0.788), rgb(117, 71, 59));
  color: #fff;
  padding: 20px 20px;
}



@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}
